html, body {
	margin : 0px;
	padding : 0px;
}

h1 {
	text-transform: uppercase;
}

#content_wrapper {
	max-width: 80%;
	margin: 0px auto;	
	font-family: 'Open Sans', Arial, san-serif;
}

.article_list_wrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}	

.article_wrapper {
	background: black;
	color: white;
	border-radius: 8px;
	flex: 1 0 20%;
	margin: 0 10px 10px 0;
	padding: 20px 40px;
}

.article_wrapper a {
	color: white;
	text-decoration: none;
}

.article_wrapper a:hover {
	text-decoration: underline;
}

.journal-article {
	background: DarkSlateGray; 
}

.book, .book-chapter {
	background: DarkSlateBlue;
}

.proceedings-article {
	background: DarkOliveGreen;
}
